:host {
  --tt-menu-gap: var(--space-md);
  --tt-menu-color: var(--link-text-color);
  --tt-menu-color-active: var(--link-text-color-active);

  display: block;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--tt-menu-gap);
  padding-inline-start: 0;
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:is(:hover, :active, :focus) {
    color: var(--tt-menu-color-active);
  }
}

@media screen and (min-width: 768px) {
  .tt-menu--inline ul {
    flex-direction: row;
  }
}
