name: CI Checks
on:
  push:
    paths-ignore:
      - ".gitignore"

# Allows checks to be cancelled if a new change is pushed.
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Build Storybook
        run: npm run build-storybook
