name: "Publish Storybook"

on:
  push:
    paths:
      - ".storybook/**"
      - "package.json"
      - "src/**"
  pull_request:
    paths:
      - ".storybook/**"
      - "package.json"
      - "src/**"
  workflow_dispatch:

jobs:
  publish-sb:
    name: "Publish StorybookJS"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - run: npm ci
      - name: "Publish on Chromatic"
        id: chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          autoAcceptChanges: "main"
          skip: "dependabot/**"
      - name: Find comment
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: peter-evans/find-comment@v4
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: Storybook Preview
      - name: "Create or update comment"
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: peter-evans/find-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          edit-mode: replace
          body: |
            ## Storybook Preview

            | Description           | URL                                                    |
            | :-------------------- | :----------------------------------------------------- |
            | **Build url**         | ${{ steps.chromatic.outputs.buildUrl }}                |
            | **Storybook Preview** | ${{ steps.chromatic.outputs.storybookUrl }}            |

            _This comment was automatically generated by the Publish StorybookJS workflow._
